body {
    font-family: 'Indie Flower', fantasy;
}
.row {
    max-width: 1350px;
}
#landing {
    background-image: url(../images/unsplahLiz1.jpg);
    /*
    background-color: #000;
    opacity: 0.6;
*/
}
span {
    padding: 20% 20% 20% 20%;
}
.menu {
    font-family: 'Open sans condensed', cursive;
    font-size: 20px;
    font-weight: 400;
    color: #000;
}
